.landing-main{
    width: 100%;
    height:calc(100vh - 100px);
}
.background{
    position: absolute;
    width: 100%;
    left:0;
    height: auto;
    overflow: hidden;

}
.background img{
    filter: blur(10px);
    width: 105%;
    height: calc(100vh - 101px);
    object-fit: cover;
    object-position: 70% 0
}
.landing-main-info-container{
    height: 400px;
    text-decoration: none;
    min-width: none;
    max-width: 40em;
    padding: 10px;
    margin: calc(30vh - 100px) auto;
    backdrop-filter: blur(10px);
    background-color:rgba(223, 223, 223, 0.5);
    border-radius: 50px;
    border: 2px solid rgba(73, 209, 219, 0.199);
    text-align: center;
}
