.tracking-msg {
  height: 400px;
  min-width: none;
  max-width: 40em;
  padding: 10px;
  margin-top: calc(30vh - 100px);
  background-color:rgba(223, 223, 223, 0.5);
  border-radius: 50px;
  border: 2px solid rgba(73, 209, 219, 0.199);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
