.calendar-container {
  color: #1E2A6A;
}

.calendar-prompt {
  font-weight: 100;
  margin: 0;
  margin-top: .25rem;
  font-size: 14pt;
}

.calendar {
  margin: 0;
}

.btn-stndrd {
  background-color: #BFD2F8;
  color: #1E2A6A;
  border-radius: 50px;
  margin: .5rem;
  padding: 13px 35px;
  border: none;
  cursor: pointer;
}

.btn-stndrd:hover {
  transform: scale(1.05);
  transition: .3s;
}
